<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="../../styles/styles.css">
    <title>Data List</title>
</head>
<body>
<h1>Computer resources usage</h1>

<table border="1">
    <tr>
        <th>ID</th>
        <th>Created</th>
        <th>Sent</th>
        <th>IP Address</th>
        <th>CPU Usage</th>
        <th>Memory Usage </th>
    </tr>

    {{#dataList}}
    <tr>
        <td>{{id}}</td>
        <td>{{created}}</td>
        <td>{{sent}}</td>
        <td>{{ipAddress}}</td>
        <td>{{cpuUsage}}%</td>
        <td>{{memoryUsage}} Mb</td>
    </tr>
    {{/dataList}}
</table>
</body>
</html>
